<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.sustudent.cherry.services.user.mapper.SysUserPermissionMapper">


  <select
    id="findUserPermission"
    resultType="org.sustudent.cherry.services.user.entity.SysUserPermission">
        SELECT
          per.*,
          role.attribute as roleAttribute
        FROM
          sys_user_permission per
          INNER JOIN sys_role role ON per.role_id = role.id
          AND role.deleted = 0
        WHERE
          per.deleted = 0
          and per.user_id = #{userId}
  </select>
</mapper>
